@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background start */
  --background-end-rgb: 0, 0, 0; /* Black background end to ensure a solid black background */
}

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
      color-scheme: dark;
  }
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}